# Importando Dataset - Precios de Laptops

## Objetivos

* Importar un dataset desde un archivo CSV a un dataframe de Pandas
* Desarrollar algunas perspectivas básicas sobre el dataset

In [2]:
import os

# definimos el directorio de trabajo
#path = r'C:\1.PROYECTOS\data_analysis'
#os.chdir(path)
print('Directorio actual:', os.getcwd())
#print(os.listdir())

Directorio actual: C:\Users\germa

In [3]:
# importamos librerias que usaremos
import pandas as pd
import numpy as np

In [5]:
# url donde se encuentran los datos
file_path ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"

In [6]:
# cargamos el dataset en un DataFrame de pandas
df = pd.read_csv(file_path)

In [6]:
# vemos las primeras 5 filas para confirmar la carga
df.head()

   Acer  4  IPS Panel  2  1  5   35.56  1.6  8  256 1.6.1   978
0  Dell  3    Full HD  1  1  3  39.624  2.0  4  256   2.2   634
1  Dell  3    Full HD  1  1  7  39.624  2.7  8  256   2.2   946
2  Dell  4  IPS Panel  2  1  5  33.782  1.6  8  128  1.22  1244
3    HP  4    Full HD  2  1  7  39.624  1.8  8  256  1.91   837
4  Dell  3    Full HD  1  1  5  39.624  1.6  8  256   2.2  1016

In [7]:
# creamos una lista con los encabezados
headers = [ "Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core",
            "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD",
            "Weight_kg","Price"]

In [8]:
# los reemplazamos e imprimimos para verificar
df.columns = headers
df.head(10)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
1,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
2,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
3,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
4,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
5,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.1,1117
6,Acer,3,IPS Panel,2,1,5,38.1,1.6,4,256,2.2,866
7,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.3,812
8,Acer,3,IPS Panel,3,1,7,38.1,1.8,8,256,2.2,1068
9,Dell,3,Full HD,1,1,7,39.624,1.8,8,256,2.13,975

In [16]:
df.tail(10)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
227,HP,2,Full HD,2,1,5,31.75,2.3,8,256,1.26,2120
228,Dell,4,Full HD,2,1,5,35.56,2.5,8,256,1.36,2082
229,Dell,4,Full HD,2,1,5,?,2.5,8,256,1.36,1870
230,Dell,4,Full HD,2,1,7,35.56,2.8,8,256,1.36,2255
231,Toshiba,3,Full HD,2,1,5,33.782,2.3,8,256,1.2,1855
232,Lenovo,4,IPS Panel,2,1,7,35.56,2.6,8,256,1.7,1891
233,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.2,1950
234,Lenovo,4,IPS Panel,2,1,5,30.48,2.6,8,256,1.36,2236
235,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.4,883
236,Toshiba,3,Full HD,2,1,5,35.56,2.3,8,256,1.95,1499

In [9]:
# reemplazamos los valores '?' con NaN para poder eliminarlos
df1 = df.replace('?', np.NaN)

In [10]:
# filas completas que tienen al menos un valor NaN
print(df1[df1.isna().any(axis=1)])

# Si buscamos en una columna específica:
# print(df[df['nombre_columna'].isna()])

    Manufacturer  Category     Screen  GPU  OS  CPU_core Screen_Size_inch  \
28            HP         3  IPS Panel    3   1         5            35.56
37            HP         3  IPS Panel    2   1         5            33.02
48          Dell         4    Full HD    2   1         5           33.782
60          Dell         3    Full HD    1   2         7           39.624
67          Dell         3    Full HD    1   2         7           39.624
119         Dell         4    Full HD    2   1         5              NaN
150         Dell         5    Full HD    3   1         7              NaN
186      Samsung         4    Full HD    2   1         7              NaN
229         Dell         4    Full HD    2   1         5              NaN

     CPU_frequency  RAM_GB  Storage_GB_SSD Weight_kg  Price
28             2.5       6             256       NaN    837
37             2.5       4             256       NaN    888
48             1.6       8             256       NaN   1777
60             2.7      16             256       NaN   1142
67             1.8       8             256       NaN    934
119            1.6       8             256      1.42   2340
150            2.8       8             256      2.06   2240
186            2.7       8             256      1.31   2031
229            2.5       8             256      1.36   1870

In [14]:
# eliminamos los valores faltantes de Weight_kg y Screen_Size_inch
df = df1.dropna(subset=['Weight_kg','Screen_Size_inch'], axis=0)

In [15]:
# verificamos
df[df[['Weight_kg', 'Screen_Size_inch']].isna().any(axis=1)]

Empty DataFrame
Columns: [Manufacturer, Category, Screen, GPU, OS, CPU_core, Screen_Size_inch, CPU_frequency, RAM_GB, Storage_GB_SSD, Weight_kg, Price]
Index: []

In [16]:
# filas completas que tienen al menos un valor NaN
print(df[df.isna().any(axis=1)])

Empty DataFrame
Columns: [Manufacturer, Category, Screen, GPU, OS, CPU_core, Screen_Size_inch, CPU_frequency, RAM_GB, Storage_GB_SSD, Weight_kg, Price]
Index: []

In [40]:
# tipos de datos de las variables
df.dtypes

Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch     object
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg            object
Price                 int64
dtype: object

In [41]:
# usar describe para todas las variables
df.describe(include='all')

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
count,228,228.000000,228,228.000000,228.000000,228.000000,228,228.000000,228.000000,228.000000,228,228.000000
unique,11,NaN,2,NaN,NaN,NaN,9,NaN,NaN,NaN,74,NaN
top,Dell,NaN,Full HD,NaN,NaN,NaN,39.624,NaN,NaN,NaN,2.2,NaN
freq,65,NaN,154,NaN,NaN,NaN,87,NaN,NaN,NaN,21,NaN
mean,NaN,3.184211,NaN,2.157895,1.052632,5.622807,NaN,2.365789,7.868421,245.333333,NaN,1460.530702
std,NaN,0.774776,NaN,0.637713,0.223788,1.251539,NaN,0.406842,2.462094,35.455169,NaN,574.608148
min,NaN,1.000000,NaN,1.000000,1.000000,3.000000,NaN,1.200000,4.000000,128.000000,NaN,527.000000
25%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.000000,8.000000,256.000000,NaN,1073.250000
50%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.500000,8.000000,256.000000,NaN,1333.000000
75%,NaN,4.000000,NaN,3.000000,1.000000,7.000000,NaN,2.700000,8.000000,256.000000,NaN,1766.500000
max,NaN,5.000000,NaN,3.000000,2.000000,7.000000,NaN,2.900000,16.000000,256.000000,NaN,3810.000000

In [42]:
# ver info general
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 0 to 236
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      228 non-null    object
 1   Category          228 non-null    int64
 2   Screen            228 non-null    object
 3   GPU               228 non-null    int64
 4   OS                228 non-null    int64
 5   CPU_core          228 non-null    int64
 6   Screen_Size_inch  228 non-null    object
 7   CPU_frequency     228 non-null    float64
 8   RAM_GB            228 non-null    int64
 9   Storage_GB_SSD    228 non-null    int64
 10  Weight_kg         228 non-null    object
 11  Price             228 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 23.2+ KB