### Extracción de Datos Bursátiles utilizando Web Scraping

Contenidos:

- Extracción de datos utilizando BeautifulSoup

- Descarga de página web usando la biblioteca Requests

- Analisis HTML de una página web utilizando BeautifulSoup

- Extracción de datos y construcción de un DataFrame

- Extracción de datos utilizando pandas

In [1]:
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib
!pip install lxml
!pip install ploty

Requirement already satisfied: pandas in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\germa\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\germa\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.6.15)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: bs4 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (4.14.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: html5lib in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: six>=1.9 in c:\users\germa\appdata\roaming\python\python313\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\germa\appdata\local\programs\python\python313\lib\site-packages (6.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Could not find a version that satisfies the requirement ploty (from versions: none)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for ploty

In [2]:
import os
path = r'C:\PROYECTOS\GitHub\Web Scraping Datos Bursatiles'
os.chdir(path)
os.getcwd()

'C:\\PROYECTOS\\GitHub\\Web Scraping Datos Bursatiles'

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
import warnings
# ignorar todas la advertencias
warnings.filterwarnings("ignore", category=FutureWarning)

En la siguiente página web tenemos una tabla con las siguientes columnas:
Date, Open, High, Low, Close, Adj Close, Volume,
de las cuales debemos extraer las siguientes columnas:

Date (Fecha)

Open (Apertura)

High (Máximo)

Low (Mínimo)

Close (Cierre)

Volume (Volumen)

In [5]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

#### Paso 1: Enviar una solicitud HTTP a la página web

El método requests.get() recibe una URL como primer argumento, la cual especifica la ubicación del recurso que se desea obtener. En este caso, se pasa el valor de la variable url como argumento al método requests.get(), ya que se almacenará la URL de una página web en esa variable.

Se utiliza el método .text para extraer el contenido HTML como una cadena de texto, con el fin de que sea legible.

In [6]:
data = requests.get(url).text
# print(data)

#### Paso 2: Analizar el contenido HTML

¿Qué es el parsing?
En palabras simples, parsing (análisis sintáctico) se refiere al proceso de analizar una cadena de texto o una estructura de datos, generalmente siguiendo un conjunto de reglas o gramática, para comprender su estructura y significado.
Consiste en descomponer un texto o dato en sus componentes individuales y luego analizarlos para extraer la información deseada o entender sus relaciones y significados.

A continuación, se tomará el contenido HTML en bruto de una página web (o una cadena de código HTML) que necesita ser analizado (parseado) y lo transformarás en un formato estructurado y jerárquico que pueda analizarse y manipularse fácilmente en Python.
Esto se puede hacer con una biblioteca de Python llamada Beautiful Soup.

Analizar los datos usando la biblioteca BeautifulSoup
Crear un nuevo objeto BeautifulSoup

Nota: Para crear un objeto BeautifulSoup en Python, se deben pasar dos argumentos a su constructor:

El contenido HTML o XML que se desea analizar, en forma de cadena de texto.

El nombre del parser (analizador) que se quiere utilizar para procesar ese contenido.
Este argumento es opcional; si no se especifica, BeautifulSoup usará el parser HTML por defecto incluido con la biblioteca.

Se utilizara el parser "html5lib".

In [7]:
soup = BeautifulSoup(data, "html5lib")

#### Paso 3: Identificación de las etiquetas HTML
Primero se crea un DataFrame vacío utilizando la función 'pd.DataFrane()' con las siguientes columnas:

- Date
- Open
- High
- Low
- Close
- Volume

In [8]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close","Adj Close", "Volume"])

#### Trabajo con tablas HTML

A continuación se detallan las etiquetas utilizadas comúnmente para crear tablas en HTML:

- **`<table>`**: Esta es la etiqueta raíz que define el inicio y el final de una tabla. Todo el contenido de la tabla está contenido dentro de estas etiquetas.

- **`<tr>`**: Define una **fila** en la tabla. Cada fila se encierra entre estas etiquetas.

- **`<td>`**: Define una **celda de datos** en la tabla. Cada celda está contenida dentro de esta etiqueta. El contenido de la celda va entre la apertura y el cierre de la etiqueta.

- **`<th>`**: Define una **celda de encabezado** en la tabla. Estas celdas describen el contenido de una columna o fila. Por defecto, el texto dentro de esta etiqueta es **negrita** y está **centrado**.

- **`<tbody>`**: Representa el **contenido principal** de la tabla. Dentro de esta etiqueta se encuentran una o más filas (`<tr>`).

#### Paso 4: Uso de métodos de BeautifulSoup para extraer datos

Se utilizan los métodos `find()` y `find_all()` del objeto BeautifulSoup para localizar el **cuerpo de la tabla** (`<tbody>`) y las **filas de la tabla** (`<tr>`) dentro del HTML.

- El método **`find()`** devuelve el contenido de una **etiqueta específica**, es decir, la **primera coincidencia** encontrada en el documento.
- El método **`find_all()`** devuelve una **lista con todas las etiquetas** que coincidan con el criterio de búsqueda.

Estos métodos permiten recorrer la estructura de la tabla y extraer los datos requeridos de forma ordenada.

In [9]:
# Primero se aísla el cuerpo de la tabla, que contiene toda la información
# Luego se recorre cada fila y se obtienen todos los valores de las columnas para cada fila

for row in soup.find("tbody").find_all('tr'):
    col = row.find_all('td')
    date = col[0].text
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text

    # Finalmente, se agrega (append) la información de cada fila a la tabla
    netflix_data = pd.concat([netflix_data, pd.DataFrame({"Date":[date], "Open":[open], "High":[high], "Low":[low], "Close":[close],"Adj Close":[adj_close], "Volume":[volume]})],
                             ignore_index=True)

#### Paso 5: Imprimir los datos extraídos

Una vez extraídos y almacenados los datos en el DataFrame, se imprime su contenido para verificar que la información haya sido recolectada correctamente desde la tabla HTML.

In [10]:
netflix_data.head()

           Date    Open    High     Low   Close Adj Close       Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21    528.21   78,560,600
1  May 01, 2021  512.65  518.95  478.54  502.81    502.81   66,927,600
2  Apr 01, 2021  529.93  563.56  499.00  513.47    513.47  111,573,300
3  Mar 01, 2021  545.57  556.99  492.85  521.66    521.66   90,183,900
4  Feb 01, 2021  536.79  566.65  518.28  538.85    538.85   61,902,300

#### Extracción de datos utilizando la biblioteca pandas

También se puede utilizar la función `read_html` de la biblioteca **pandas** junto con la URL para extraer datos directamente desde una página web.

#### ¿Qué es `read_html` en la biblioteca pandas?

`pd.read_html(url)` es una función proporcionada por la biblioteca pandas en Python que se utiliza para **extraer tablas** desde páginas web en formato HTML.  
Recibe como entrada una URL y devuelve una **lista con todas las tablas** encontradas en dicha página.

In [11]:
read_html_pandas_data = pd.read_html(url)

También se puede convertir el objeto **BeautifulSoup** en una cadena de texto (*string*).  
Esto permite, por ejemplo, pasarlo como entrada a funciones como `pd.read_html()`, que requieren una representación en texto del contenido HTML.

In [12]:
read_html_pandas_data = pd.read_html(str(soup))

Dado que hay **una sola tabla** en la página, se puede tomar directamente la **primera tabla** de la lista devuelta por `pd.read_html()`.

In [13]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

#### Ejercicio: utilizar web scraping para extraer datos bursátiles

In [14]:
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

In [15]:
response = requests.get(url)                        # Envía una solicitud HTTP GET a la URL
html_data = response.text                           # Guarda el contenido HTML de la respuesta en una variable
soup = BeautifulSoup(html_data, "html.parser")      # Analiza el HTML usando el parser por defecto "html.parser"

In [22]:
# para ver el contenido del atrinuto 'title' (titulo de la pag. web)

soup.title.text     # muestra el texto dentro de la etiqueta
soup.title

In [17]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])  # DataFrame vacío

for row in soup.find("tbody").find_all("tr"):  # Recorre cada fila de la tabla
    col = row.find_all("td")                   # Extrae todas las celdas de la fila
    
    date = col[0].text.strip()        # Fecha
    Open = col[1].text.strip()        # Precio de apertura
    high = col[2].text.strip()        # Precio máximo
    low = col[3].text.strip()         # Precio mínimo
    close = col[4].text.strip()       # Precio de cierre
    adj_close = col[5].text.strip()   # Precio de cierre ajustado
    volume = col[6].text.strip()      # Volumen

    # Se concatena una nueva fila al DataFrame
    amazon_data = pd.concat([
        amazon_data, 
        pd.DataFrame({
            "Date": [date], 
            "Open": [Open], 
            "High": [high], 
            "Low": [low], 
            "Close": [close], 
            "Adj Close": [adj_close], 
            "Volume": [volume]
        })
    ], ignore_index=True)

In [18]:
amazon_data.head()

           Date      Open      High       Low     Close Adj Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,899,300

In [19]:
# Nombre de las columnas en el DataFrame
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [20]:
# Acceder al valor de la columna "Open" en la última fila

amazon_data.iloc[-1]["Open"]

'656.29'

In [21]:
amazon_data.tail()

            Date    Open    High     Low   Close Adj Close       Volume
56  May 01, 2016  663.92  724.23  656.00  722.79    722.79   90,614,500
57  Apr 01, 2016  590.49  669.98  585.25  659.59    659.59   78,464,200
58  Mar 01, 2016  556.29  603.24  538.58  593.64    593.64   94,009,500
59  Feb 01, 2016  578.15  581.80  474.00  552.52    552.52  124,144,800
60  Jan 01, 2016  656.29  657.72  547.18  587.00    587.00  130,200,900

In [30]:
# Guardar las tablas como csv en el directorio de trabajo

netflix_dataframe.to_csv("netflix_data.csv", index=False, encoding='utf-8')
amazon_data.to_csv("amazon_data.csv", index=False, encoding='utf-8')