# Crear y acceder a una base de datos SQLite usando Python

## Objetivos

* Crear una base de datos
* Crear una tabla
* Insertar datos en la tabla
* Consultar datos de la tabla
* Guardar el conjunto de resultados en un DataFrame de pandas
* Cerrar la conexión a la base de datos

## Crear una base de datos con SQLite

In [2]:
#Instalar y cargar sqlite3

#!pip install sqlite3
import sqlite3

In [4]:
# Conexión a SQLite
# Objeto de conexión
conn = sqlite3.connect('INSTRUCTOR.db')

In [5]:
# objeto cursor
cursor_obj = conn.cursor()

## Crear una tabla en la base de datos

En este paso crearemos una tabla en la base de datos con los siguientes detalles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

Antes de crear una tabla, primero verifiquemos si ya existe. Para eliminarla de la base de datos, utilice la instrucción DROP. Un cursor es un objeto que permite ejecutar la consulta y recuperar los registros de la base de datos.

In [7]:
# Eliminar la tabla si es que ya existe
cursor_obj.execute('DROP TABLE IF EXISTS INSTRUCTOR')

In [8]:
# Crear la tabla
table = """ CREATE TABLE IF NOT EXISTS INSTRUCTOR (
ID INTEGER PRIMARY KEY NOT NULL,
FNAME VARCHAR (20),
LNAME VARCHAR (20),
CITY VARCHAR (20),
CCODE CHARACTER (2)
); """

#conexion.commit()  # Guarda los cambios
cursor_obj.execute(table)
print("Table is Ready")

Table is Ready

## Insertar datos en la tabla

En este paso insertaremos algunas filas de datos en la tabla.

La tabla INSTRUCTOR que creamos en el paso anterior contiene 3 filas de datos:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

Insertamos los datos

In [13]:
cursor_obj.execute("""
INSERT INTO INSTRUCTOR (ID, FNAME, LNAME, CITY, CCODE)
VALUES (1,'Rav','Ahuja','TORONTO','CA'),
        (2,'Raul','Chong','Markham','CA'),
        (3,'Hima','Vasudevan','Chicago','US')
""");
#conexion.comit()

## Consultar datos en la tabla

En este paso recuperaremos los datos que insertamos en la tabla INSTRUCTOR.

In [15]:
## Recuperar todas las filas de la tabla
query = "SELECT * FROM INSTRUCTOR"
cursor_obj.execute(query)
print("Todos los datos")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

Todos los datos
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [17]:
# Recuperar algunas filas de la tabla
query = "SELECT * FROM INSTRUCTOR"
cursor_obj.execute(query)
print("Primeros 2 registros")
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
    print(row_many)

Primeros 2 registros
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [22]:
# Recuperar solo FNAME de la tabla
query = "SELECT FNAME FROM INSTRUCTOR"
cursor_obj.execute(query)
print('Solo el FNAME de la tabla')
output_column = cursor_obj.fetchall()
for row in output_column:
    print(row)

Solo el FNAME de la tabla
('Rav',)
('Raul',)
('Hima',)

### Instruccion de actualizacion

In [21]:
query_update = """ UPDATE INSTRUCTOR
SET CITY='MOOSETOWN' 
WHERE FNAME='Rav'
"""
cursor_obj.execute(query_update)

In [25]:
query = "SELECT * FROM INSTRUCTOR"
cursor_obj.execute(query)
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

## Recuperar datos en Pandas

En este paso, recuperaremos el contenido de la tabla INSTRUCTOR en un DataFrame de Pandas.

In [26]:
import pandas as pd

In [27]:
df= pd.read_sql_query('SELECT * FROM INSTRUCTOR;', conn)
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [28]:
# Imprimir solo el LNAME de la primera fila del DataFrame de pandas
df.LNAME[0]

'Ahuja'

In [29]:
# Filas y columnas
df.shape

(3, 5)

## Cerrar la conexión

Al cerrar la conexión, liberamos todos los recursos. Siempre es importante cerrar las conexiones para evitar que las conexiones inactivas consuman recursos.

In [30]:
# Cerrar conexion
conn.close()